.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    font-size: 22px;
}

.title {
    margin-top: 0;
}

.list {
    padding-left: 20px;
    list-style-type: none;
    font-size: 18px;
}

.text {
    font-size: 18px;
    line-height: 1.7;
}

.list span {
    font-size: 18px;
    line-height: 2;
}

.list li {
    margin-bottom: 12px;
    font-size: 18px;
}
