/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  text-align: center;
}
.select-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #6604ac;
}

.App-header {
  margin-bottom: 0px;
  background-color: #303a4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.custom-file-upload {
  margin-top: 80px;
  background-color: #4b0082;
  color: #61dafb;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

.custom-file-upload:hover {
  background-color: #5a0093;
}

.App-header-top {
  background-color: #4b0082; /* Темнофиолетовый цвет */
  width: 100%;
  position: relative;
  padding: 20px;
}

.triangle {
  width: 10;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 100px solid #4b0082; /* Темнофиолетовый цвет */
  position: absolute;
  top: 0;
  left: 0;
}

.triangle-text {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #4b0082;
  color: rgb(89, 144, 247);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

input[type="file"] {
  display: none;
  margin-bottom: 10px; /* Добавляем отступ снизу */
}

.file-upload-input {
  display: none;
  margin-bottom: 10px; /* Добавляем отступ снизу */
}

.App-header {
  margin: 20px auto;
  text-align: center;
}

.App-header button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
