.table-container {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

button {
  background-color: #4b0082;
  color: rgb(89, 144, 247);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

button:hover {
  background-color: #fafffa;
}

input[type="file"] {
  margin-bottom: 10px;
}
