.lambdaGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.lambdaControl {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.addLambdaInput {
  max-width: 120px;
}

.lambda {
  max-width: 120px;
}
