.container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: red;
  order: 1;
  background: #fff0f0;
  padding: 8px 20px;
  border-radius: 4px;
  transition: .3s ease-in-out;
  height: 50px;
  align-items: center;
  font-size: 16px;

  &:hover {
    background: #ffe4e4;
  }
}

.leftPull {
  display: flex;
  align-items: center;
  gap: 12px;
}
